body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #faf3cd;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    height: 72px;
    flex-shrink: 0;
    padding: 8px 48px;
    background-color: #cd8417;
        justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #050505;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 44px;
    font-weight: bold;
    margin: 0 8px;
}

.links {
    flex-shrink: 0;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

/* CONTENT (Recipe) */
.content {
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Introduction */
.intro {
    display: flex;
    padding: 0 16px 8px;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid #000;
}

h1 {
    width: 320px;
    margin: 0 auto 16px;
    background-color: #050505;
    color: #ffc917;
    text-align: center;
    font-size: 44px;
}

#recipeimage {
    box-sizing: border-box;
    width: 320px;
    height: auto;
    border: 8px solid #8c0000;
    padding: 8px;
}

p {
    flex: 1 1 auto;
    color: #050505;
    font-size: 32px;
    text-align: center;
}

/* Ingredients ans Steps */
.sub-sec {
    padding: 0 16px 8px;
    border-bottom: 1px solid #000;
}

h2 {
    font-size: 32px;
    color: #050505;
    margin: 0;
    padding: 0;
}

li {
    font-size: 24px;
}

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #050505;
    height: 72px;
    padding: 8px 48px;
    gap: 16px;
}

.footer a {
    text-decoration: none;
    color: grey;
    font-size: 24px;
}