body {
    background-color: #faf3cd;
    padding: 24px;
}

#n-bar {
    padding: 8px;
    background-color: #cd8417;
    color: #050505;
}

#n-title {
    display: inline;
    font-size: 44px;
    margin: 8px;
}

#sep {
    margin: 8px;
    font-size: 44px;
}

.n-link {
    margin: 8px;
    font-size: 22px;
    color: #050505;
}

#content {
    margin-top: 8px;
    padding: 16px;
}

h1 {
    width: 400px;
    margin: 0 auto 16px;
    background-color: #050505;
    color: #ffc917;
    text-align: center;
    font-size: 44px;
}

#recipeimage {
    display: block;
    margin: 16px auto;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    border: 8px solid #8c0000;
    padding: 8px;
}

.text {
    margin: 24px auto;
    font-size: 22px;
    color: #050505;
}

.subhead {
    margin: 24px auto;
    font-size: 32px;
    color: #8c0000;
}